#contact_form{
    height: 1180px !important;
    max-height: 1200px !important;
    width: auto;
    background-image: url(img/bg/bg_last.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: none;
}

#contact_form h1{
    color: #877c6d;
    margin:0;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
